*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.logo{
    padding: 18px;
    background-color: rgb(3,136,87);
    color: black;
}

.logo h4{
    display: flex;
    justify-content: center;
}

h4 span{
    color: rgb(255, 208, 0);
}

#logo{
    cursor:pointer;
}

#logo2{
    color: purple;
}

.logo a{
    float: right;
    display: flex;
    padding:0px 7px;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.logo a:hover{
    color: rgb(142, 167, 170);
}

a{
    text-decoration: none;
}

.slide-show{
    background-color: #181b1b;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: auto;
}

.slide{
    display: none;
    width: 600px;
    height: auto;
}

.slide img{
    vertical-align: middle;
    width: 600px;
    height: 400px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.4);
}

.prev{
    left: 27.7%;
}

.next{
    right: 27.7%;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.8);
}

.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade{
    from {opacity: .4} 
    to {opacity: 1}
}

.nav{
    display: flex;
    background-color: rgb(142, 167, 170);
    padding-left: 25%;
    position: sticky;
    top: 0px;
}

.nav a{
    display: block;
    padding: 14px 30px;
    text-align: center;
    color: white;
    font-size: 20px;
}

.nav a:hover{
    background-color: #ddd;
    color: black;
}

.links{
    width: 23%;
    padding: 30px;
    float: left;
    position: sticky;
    top: 50px;
    background-color: rgb(3,136,87);
    height: 673px;
}

.links a{
    display: flex;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}

.links a:hover{
    background-color: #ddd;
    color: black;
}

.main{
    margin-left:23%;
    padding:60px 100px;
    height:auto;
    background-image: url("./pictures/bg_main.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
}

.main h1{
    padding-top: 5%;
}

.register h2{
    padding-top: 5%;
}

.register a:hover{
    color: white;
}

.about, .register, #services{
    padding-top: 20px;
}

#footer{
    padding: 50px 10px;
    background-color: #181b1b;
    color: whitesmoke;
    width: 100%;
    height: auto;
    position: absolute;
}

#footer p{
    font-size: 13px;
}

#footer_info{
    float: left;
}

#footer_info_right{
    float: right;
}

.fa{
    padding: 15px;
    font-size: 40px;
    width: 40px;
    text-align: center;
    text-decoration: none;
}
  
  /* Add a hover effect if you want */
.fa:hover{
    opacity: 0.7;
}
  
  /* Set a specific color for each brand */
  
  /* Facebook */
.fa-facebook{
    background: #3B5998;
    color: white;
}
  
  /* Twitter */
.fa-twitter{
    background: #55ACEE;
    color: white;
}

.fa-instagram{
    background: #EC4B51;
    color: white;
}
